<div local-class="task" data-completed="{{if this.task.isCompleted 'true' 'false'}}">
  <h3>{{this.task.task}}</h3>
  <p>{{this.task.description}} </p>


  <div class="date-info">
    <p>Data limite: {{this.task.limitDate}}</p>
  </div>

  <span>{{this.task.category}}</span>

  <Button {{on "click" (fn this.deleteTask this.task.taskId)}} @variant="light" local-class="delete">X</Button>
  <Button {{on "click" (fn this.changeTaskStatus this.task.taskId)}} @variant="light" >Marcar como concluída</Button>
</div>